.container.features{
    display: flex;
    justify-content: center;
}

.list-features{
    display: flex;
    gap: 24px;
}

.feature-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 8px;
}
 .item-f{
    width: 264px;
 }

 .decoration{
    display: flex;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
 }

.description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

@media (min-width: 320px){
    .list-features{
        max-width: 320px;
        flex-direction: column;
        gap: 72px;
        padding-right: 16px;
        padding-left: 16px;
        margin: 0 auto;
    }
    .decoration{
        display: none;
    }
    .feature-name{
        font-weight: 700;
        font-size: 36px;        
        letter-spacing: 0.02em;
        margin-top: 0;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .list-features {
        max-width: 768px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0 auto;
        justify-content: center;
    }
    .item-f {
        width: calc((100% - 24px)/2);
    }
}