.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container.footer{
    display: flex;
    align-items: start;
    padding-top: 0%;
    padding-bottom: 0%;
}

.logo.footer {
    color: #F4F4FD;
    margin-bottom: 16px;
}
.accent{
    color: #4D5AE5;
}

.list-social{
    margin-left: 120px;
}

.footer p{
    font-size: 16px;
    color: #F4F4FD;
    letter-spacing: 0.32px;
    line-height: 1.5;
    width: 264px;
}

.title-social{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em
}

.socials-f{
    list-style: none;
    display: flex;
    width: 208px;
    height: 40px;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}
.s-f{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #4D5AE5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-f:hover{
    background-color: #31D0AA;
}

.s-f:focus {
    background-color: #31D0AA;
}

.icon-f{
    fill: #F4F4FD;
    color: #F4F4FD;
}

.subscribe{
    margin-left: auto;
}

.title-sub{
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}

.footer-form{
    display: flex;
    gap: 24px;
    align-items: end;
}

.footer-email{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: inherit;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.footer-email::placeholder{
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.footer-email:focus{
    border-color: #31D0AA;
    outline: none;
}

.footer-button{
    display: flex;
    gap: 16px;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: #4D5AE5;
    margin-bottom: 0;
    border: 0;
    justify-content: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send{
    color: #FFFFFF;
    fill: #FFFFFF;
}

.footer-button:hover,
.footer-button:focus{
    background-color: #31D0AA;
}

@media (min-width: 320px) and (max-width:767px){
    .footer{
        max-width: 320px;
        padding-top: 96px;
        padding-bottom: 96px;
        margin: 0 auto;
    }
    .container.footer{
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        gap: 72px;
    }
    .logo-text{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .logo.footer{
        justify-content: center;
        padding-bottom: 0;
        padding-top: 0;
    }
    .list-social{
        margin: 0 auto;
        align-items: center;
    }
    .title-social{
        text-align: center;
    }
    .socials-f{
        margin: 0 auto;
        margin-top: 16px;
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .title-sub{
        text-align: center;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }        
}
@media (min-width: 768px) and (max-width: 1158px){
    .container.footer{
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 164px;
        padding-left: 108px;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .logo-text{
        width: 264px;
        padding-bottom: 72px;
    }

    .list-social{
        width: 208px;
        margin-left: 24px;
        padding-bottom: 104px;
    }
    .subscribe{
        justify-content: start;
        margin-left: 0px;
    }

}