.header{
    border-bottom: 1px solid #E7E9FC;
}
.container.header{
    display: flex;
    align-items: center;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.logo.header{
    color: #2E2F42;
    margin-right: 149px;
    padding: 0;
    border-bottom: 0;
}
.accent{
    color: #4D5AE5;
}
.menu-link{
    display: none;
}

.link-n{
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-n:hover{
    color: #404bbf;
}

.link-a{
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-a:hover {
    color: #404bbf;
}

.link-n.is-active{
    color: #404bbf;
}

.is-active::after{
    display: none;
}

.link-n:focus{
    color: #404bbf;
}

.link-a:focus {
    color: #404bbf;
}

.menu-link a{
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts{
   display: none;
}
.contacts a{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-icon{
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
    padding-left: 4px;
    color: rgba(46, 47, 66, 1);
    fill: rgba(46, 47, 66, 1);
}

.burger-button{
    border: none;
    background-color: inherit;
}

@media (min-width: 768px){
    .container.header {
        max-width: 768px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-icon {
        display: none;
    }

    .logo.header {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 16px;
        margin-right: 120px;
    }

    .menu-link {
        display: flex;
        margin-right: 129px;
        gap: 40px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-right: 16px;
    }

    .contacts a {
        display: flex;
        padding: 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .is-active::after {
        position: absolute;
        bottom: 0;
        display: block;
        background-color: #404bbf;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
}

@media (min-width: 1158px) {
    .container.header {
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-icon {
        display: none;
    }

    .logo.header {
        margin-right: 76px;
    }

    .menu-link {
        align-items: center;
        margin-right: 340px;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        font-size: 16px;
        letter-spacing: 0.32px;
        font-style: normal;
    }
    
    .contacts a {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}