.header{
    border-bottom: 1px solid #E7E9FC;
}
.container.header{
    display: flex;
    align-items: center;
}

.logo.header{
    color: #2E2F42;
    margin-right: 76px;
    padding: 0;
    border-bottom: 0;
}
.accent{
    color: #4D5AE5;
}
.menu-link{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 340px;
}

.link-n{
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-n:hover{
    color: #404bbf;
}

.link-a{
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-n:hover {
    color: #404bbf;
}

.link-a:hover {
    color: #404bbf;
}

.link-n.is-active{
    color: #404bbf;
}

.is-active::after{
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #404bbf;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.link-n:focus{
    color: #404bbf;
}

.link-a:focus {
    color: #404bbf;
}

.menu-link a{
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-style: normal;

}
.contacts a{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-icon{
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
    padding-left: 4px;
    color: rgba(46, 47, 66, 1);
    fill: rgba(46, 47, 66, 1);
}

@media (min-width: 320px) and (max-width: 768px) {
    .container.header{
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .logo.header {
        margin-right: 149px;
    }
    .menu-link{
        display: none;
    }
    .contacts{
        display: none;
    }
    .is-active::after{
        display: none;
    }
}

@media (min-width: 768px) and (max-width:1158px){
    .container.header {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-icon{
        display: none;
    }
    .logo.header {
        margin-right: 120px;
    }
    .menu-link{
        margin-right: 129px;
    }
    .contacts{
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .contacts a{
        display: flex;
        padding: 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}
@media (min-width: 1158px){
    .container.header {
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu-icon {
        display: none;
    }
}