.container.portfolio{
    display: block;
    justify-content: center;
}

.list-portfolio{
    display: flex;
    margin-top: 72px;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.photo-p{
    display: block;
}

.gallery-item{
    position: relative;
    overflow: hidden;
}

.card-p{
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px 32px 16px;
}

.overlay{
    display:block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    transform: translateY(200%);
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
}

.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay{
    transform: translateY(0);
}
   

.decision{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

@media (min-width: 320px) {
    .portfolio.section{
        max-width: 320px;
        padding-top: 96px;
        padding-bottom: 96px;
        margin: 0 auto;
    }
    .list-portfolio{
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
    .gallery-item{
        margin: 0 auto;
    }
    .photo-p{
        width: 288px;
    }
    .card-p{
        width: 288px;
    }
}
@media (min-width: 768px) {
    .container.portfolio {
        max-width: 768px;
        margin: 0 auto;
    }

    .list-portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    .gallery-item{
        margin: 0;
    }

}
